.unreleased-img::after {
	content: "UNRELEASED";
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 2rem;
	border-radius: 2rem;
}

.unreleased-img {
	background: url("../images/moncsi/moncsi.png");
	background-position: center;
	background-size: cover;
	position: relative;
}

.project-intro img,
.unreleased-img {
	width: 100%;
	min-height: 11.5rem;
	border-radius: 2rem;
	margin: 2rem 0 6rem;
	object-fit: cover;
}

.language {
	background: var(--dark-gray);
	border-radius: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
	padding: 1rem;
	position: relative;
	z-index: -1;
}

.project-functions,
.project-screenshots-container {
	margin-top: 6rem;
}

.project-functions ol {
	margin-left: 1rem;
}

.project-functions ol li {
	margin-bottom: 0.5rem;
}

.language-description {
	transition: max-height 2s ease-in-out;
	background: var(--dark-gray);
	border-radius: 0 0 2rem 2rem;
	box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
	max-height: 20rem;
}

.language-description p {
	display: none;
}

.language-container {
	margin-bottom: 1rem;
	cursor: pointer;
}

.language i {
	font-size: 1.25rem;
}

.project-screenshots {
	display: flex;
	flex-wrap: wrap;
	gap: 0.3rem;
}

.project-screenshots img {
	width: 49%;
	height: 8rem;
	object-fit: cover;
	cursor: pointer;
}

.project-screenshots img:first-child {
	border-radius: 2rem 0 0 0;
}

.project-screenshots img:nth-child(2) {
	border-radius: 0 2rem 0 0;
}

.project-screenshots img:nth-last-child(2) {
	border-radius: 0 0 0 2rem;
}

.project-screenshots img:last-child {
	border-radius: 0 0 2rem 0;
}

#close-gallery-bg {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	z-index: 1000;
}

#gallery-img-container {
	max-width: 80%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 1000;
}

#gallery-img-container img {
	max-width: 100%;
	max-height: 80vh;
	border-radius: 2rem;
	margin-bottom: 2rem;
}

#gallery-controls {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 80%;
}

@media only screen and (min-width: 768px) {
	.project-screenshots img {
		height: 11.5rem;
	}

	#gallery-controls {
		width: 15rem;
	}

	.project-functions ol {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.project-intro {
		padding-top: 5.5rem;
	}
}
